
/* common shared styles */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}


/* nav related styles */
nav{
    padding: 25px 0px;
    box-shadow: 0px 2px 10px rgb(224, 222, 222);
    
}
.nav-container{
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.nav-icon{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu{
    display: flex;
   align-items: center;
   
}
.nav-menu li,button{
    padding-right: 50px;
}
.nav-menu li{
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu a{
    text-decoration: none;
}
.nav-icon h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
#nav-1{
    color:#FF42A5;
}
#nav-btn{
    color: #3C354F;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 25px;
    background-color: rgb(238, 235, 235);
    border: none;
    border-radius: 7px;
}
.fa-youtube{
    color: #F61C0D;
    padding-left: 10px;
    padding-right: 10px;
}
/* main section 1 styles */
.section-1-container{
    display: flex;
}
.section-1-info{
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

}
.section-1-info h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 148px;
}

.section-1-info h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom ,#ff0586 , rgb(234, 174, 94));
    color: transparent;
    -webkit-background-clip: text;
}
.section-1-info-list{
    list-style: none;
    text-align: left;
    margin-left: 303px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-1-info-list li{
    color: #534C64;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 13px;
}
.fa-circle-play{
    color: red;
    padding-right: 8px;
}
.fa-down-long{
    color:red;
    padding-right: 10px;
}
.fa-user-group{
    padding-right:5px;
}
.section-1-img{
    width: 50%;
}
#s-1-btn-1{
    color: #FFF;
font-size: 21px;
font-weight: 600;
border-radius: 30px;
background-color: #FF42A5;
padding: 16px 30px;
border: none;

}
#s-1-btn-2{
    color: #FFF;
font-size: 21px;
font-weight: 600;
border-radius: 30px;
background-color:#4EC5F7;
padding: 16px 30px;
border: none;


}

/* main section 2 styles  */
.section-2{
    background-color:rgba(255, 66, 165, 0.03);
}
.section-2-content{
    max-width: 1500px;
    margin:  auto;
    display: flex;
    align-items: center;
}
.section-2-img{
    width: 60%;
}
.section-2-info{
    width: 40%;
    text-align: right;
}
.section-2-info h1{
font-size: 48px;
font-weight: 700;
background-image: linear-gradient(to bottom ,#ff0586 , rgb(234, 174, 94));
color: transparent;
-webkit-background-clip: text;
}
.section-2-info p{
    color: #534C64;
font-size: 20px;
font-weight: 400;
padding-top: 20px;
padding-bottom: 20px;
line-height: 32px;

}
.section-2-info button{
    color: #FFF;
    font-size: 21px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #FF42A5;
    padding: 16px 30px;
    border: none;
    
}
.section-2-info h3{
    color: #534C64;
font-size: 25px;
font-weight: 400;
padding-top: 20px;
padding-bottom: 20px;
}
.section-2-info h2{
    color: #534C64;
font-size: 32px;
font-weight: 700;
line-height: 45px;
}

/* main section 3 styles */
.section-3-container{
    max-width: 1500px;
    margin:70px auto;
}
.section-3-info{
    text-align: center;
}
.section-3-info h1{
    font-size: 48px;
font-weight: 700;
}
.s-3{
    background-image: linear-gradient(to bottom ,#ff0586 , rgb(234, 174, 94));
color: transparent;
-webkit-background-clip: text;
}
.section-3-info p{
    color: #534C64;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-3-img{
    display: flex;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    max-width: 300px;
}
.extra:hover{
    


}

/* main section 4 styles */
 
.section-4-container{
    max-width:1500px ;
    margin: 0px auto;
}
.section-4-content{
    display: flex;
    align-items: center;
    gap: 200px;
   
}
.section-4-info{
    width: 40%;
    margin-left: 180px;
    text-align: right;
    margin-bottom: 20px;
    
}
.section-4-img{
width: 60%;

}
.section-4-info h1{
    font-size: 48px;
font-weight: 700;
}
.s-4-extra{
    background-image: linear-gradient(to bottom ,#ff0586 , rgb(234, 174, 94));
    color: transparent;
    -webkit-background-clip: text;
}
.section-4-info p{
    color: #534C64;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 32px;
    padding-bottom: 10px;
}
#fly-img{
    position: relative;
    margin-top: -295px;
    margin-left: -140px;
}

/* main section 5 styles */
.section-5{
    background-color:rgba(255, 66, 165, 0.03);
    padding: 50px 0px;
}
.section-5-content{
    max-width: 1600px;
    margin: 0px auto;
}
.demo{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 280px;
    padding: 8px 8px;
    border-radius: 60px;
    cursor: pointer;
}
.demo:hover{
    border:2px solid #FF42A5;
}
.demo h3:hover{
    color: #FF42A5;
}
.demo h3{
    color: #0B0223;
font-size: 23px;
font-weight: 600;
}
.section-5-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
}
/* footer relater styles */
footer{
    background-color: #0B0223;
}
.footer-container{
    max-width: 800px;
    margin: 0px auto 0px;
    padding: 60px 0px;
}
.footer-div-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.footer-div-1 h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}
.footer-div-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-div-2 li{
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}
.fa-twitter{
    color: #FFF;
    
}





/* media query for small devices */

@media screen and (max-width:576px) {
    .nav-container{
       flex-direction: column;
       max-width: 700px;
       margin: auto;
    }
    .nav-menu{
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .nav-icon{
     max-width: 1000px;
     margin: 0px auto;
     padding-right: 50px;
    
    }
    .section-1-container{
        flex-direction: column-reverse;
    }
    .section-1-img{
        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
        
    }
    .section-1-img img{
        max-width: 350px;
        margin-left: 30px;
        
        
    }
    .section-1-info{
        width: 85%;
        margin-left: 30px;
        background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
      
    }
    
    .section-1-info h2{
        margin-top: 10px;
        font-size: 32px;
    }
    .section-1-info h1{
        text-align: center;
        font-size: 65px;
        
    }
    .section-1-info-list{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 90px;
    }
    .section-1-info-list li{
        font-size: 15px;

    }
    #s-1-btn-1{
        font-size: 10px;
        margin-bottom: 40px;
       padding: 10px 15px ;
       border-radius: 15px;

    }
    #s-1-btn-2{
        font-size: 10px;
        padding: 10px 15px ;
        border-radius: 15px;
    }
    .section-2-content{
        max-width: 700px;
        margin:  auto;
       flex-direction: column;
        align-items: center;
    }
    .section-2-img{
        width: 100%;
    }
    .section-2-img img{
        width: 350px;
        padding-left: 30px;
    }
    .section-2-info{
        width: 80%;
        text-align: right;
    }
    .section-2-info h1{
        font-size: 27px;
    }
    .section-2-info h2{
        font-size: 22px;
    }
    .section-3-img{
        gap: 25px;
        margin-top: 50px
       
    }
    .section-3-info h1{
        font-size: 27px;
    }
    .section-4-container{
        max-width:700px ;
        margin: 0px auto;
    }
    .section-4-content{
        flex-direction: column;
    }
    .section-4-info{
        width: 90%;
        margin-left: 0px;
        text-align: center;
        
        
    }
    .section-4-img{
        width: 100%;
        padding-top: 30px;
        margin-top: -210px;
        margin-right: 35px;

        
    }
    .section-4-img img{
        width: 300px;
        margin-left: 90px;
    }
    #fly-img{
        width: 130px;
        margin-left: 44px;
        margin-top: -160px;
    }
    .section-5-content{
        max-width: 900px;
        margin: 30px auto;
        padding: 0px;
    }
    .demo{
        gap: 0px;
        width: 110px;
     padding: 5px 5px;
     border-radius: 20px;
     column-gap: 0px;
     row-gap: 0px;
    }
    .demo h3{
        color: #0B0223;
    font-size: 9px;
    font-weight: 600;
    } 
    .demo img{
        width: 30px;
    }









}


/* media query for medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-icon{
        max-width: 1200px;
        margin: 0px auto 18px;
        padding-left: 165px;
       }
       .nav-menu{
        max-width: 1200px;
        margin: 20px auto 0px;
       }
       .section-1-container{
        flex-direction: column-reverse;
    }
    .section-1-img{
        width: 100%;
    }
    .section-1-img img{
        width: auto;
        padding-left: 100px;
    }
    .section-1-info{
        width: 100%;
    

    }
    .section-1-info-list{
        margin-left: 290px;
    }
    .section-2-content{
        max-width: 1200px;
        margin:  auto;
       flex-direction: column;
        align-items: center;
    }
    .section-2-img{
        width: 100%;
    }
    .section-2-info{
        width: 80%;
        text-align: right;
    }
    .section-3-img{
        flex-direction: column;
    }
    .section-4-container{
        max-width:900px ;
        margin: 0px auto;
    }
    .section-4-content{
        flex-direction: column;
    }
    .section-4-info{
        width: 90%;
        text-align: center;
        margin-left: 20px;
        
        
    }
    .section-4-img{
        width: 100%;

        
    }
    .section-4-img img{
        width: 60%;
        margin-left: 220px;
    }
    #fly-img{
        width: 300px;
        margin-left: 0px;
        margin-top: -250px;
    }


}